@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* フォント */
    font-family: "Kaisei Tokumin", serif;
    font-weight: 400;
    font-style: normal;

    /* 背景 */
    background-image: url("/bg.jpg");
    background-size: cover;
    background-position: center;
  }
}
